.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/landing2BG.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

.content {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.title {
  font-weight: bold;
  font-size: 5vh;
}

.subtitle {
  font-size: 3vh;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  border-radius: 4px;
  font-size: 3vh;
  background-color: black;
  color: white;
}

.info-cards {
  position: relative;
  top: 300px;
}
